import logging

from metamanager.metamanager import MetaManager
from monitors.monitoringutils import get_metric
from intellect.classes.Resource import Resource

threshold = 0.02

rule "cpu idle load":
        agenda-group cpu
        when:
            $resource := Resource( get_sample(get_metric("CPU",MetaManager.get_curent()))>=threshold )
        then:
            #print(get_metric_name("CPU",MetaManager.get_curent()))
            $resource.action('alarm')
