import logging

from intellect.classes.Resource import Resource

threshold=0.1

rule "euca test load":
        agenda-group cpu
        when:
                $resource := Resource( get_sample("CPUUtilization")>=threshold)
        then:
                $resource.action('alarm')
